@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  outline: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}